{% load static from staticfiles %}
<html>
  <head>
    <title>Alexa Browser Client</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script src="{% static 'main.js' %}"></script>
  </head>
  <body>
  <h1 style="font-size: 50px;text-align:center;color:white;">Interactive Audio Story Platform</h1>
    <h1 id="status-label" style="font-size: 40px;text-align:center;color:grey;">Welcome</h1>

    <p class="recButton">
    <button  class="btn btn-default start"><p style="font-size:20px;color:yellow;">Start</p></button>
    </p>




    <span class="talk"> <!-- Square container -->
  <div></div> <!-- Bars -->
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</span>


    <script type="text/javascript">
      document.querySelector('.start').addEventListener('click', function(event) {
        event.target.remove();

        AlexaBrowserClient({
          loginUrl: '{% url "refreshtoken" %}',
          websocketUrl: '{{ websocket_url }}',
          statusLabel: document.getElementById('status-label')
        });
      });

    </script>
  </body>
</html>
